*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}


body{
	font-family: 'Montserrat', sans-serif;
}

nav{
	background: #004eff;
	color: white;
	height: 80px;
	width: 100%;
}

/*
APPS
*/

.Mais{
	background: #ff0d76;
	outline: none;
	border: none;
	width: 70px;
	margin-left: 4px;
	margin-top: 7px;
	height: 24px;
	border-radius: 8px;
	color: white;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
}

.Baixar{
	font-weight: bold;
	font-family: "Source Sans Pro", sans-serif;
	color: white;
	border-radius: 8px;
	background: #004eff;
	outline: none;
	border: none;
	width: 70px;
	margin-left: 4px;
	margin-top: 7px;
	height: 24px;
}

.Mais:hover{
	background: #e8106e;
	transition: .5s;
}

.Baixar:hover{
	background: #0242d4;
	transition: .5s;
}

/*Fim de apps*/

label.logo{
	font-size: 35px;
	line-height: 80px;
	padding: 0 30px;
	font-weight: bold;
	font-family: "Source Sans Pro", sans-serif;
}

nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin-right: 0 5px;
}

nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	text-transform: uppercase;

}

a.active, a:hover{
	color: #dedede;
	transition: .5s;
}

.checkbtn{
	font-size: 30px;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}


@media(max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}

@media(max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #004eff;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a.active, a:hover{
		background: none;
		color: #dedede;
	}

	#check:checked ~ ul{
		left: 0;
	}
}

h1{
	font-family: sans-serif;
	font-weight: 900;
	font-size: 32px;
	margin-top: 20px;
}


.ytb, .rm, .cld2, .mp2{
	max-width: 1400px;
	margin: 0px auto 18px auto;
	margin-top: 12px;
	background: #f0f0f0;
	border-radius: 6px;
	height: 100px;
}

p{
	margin-top: 2px;
	font-size: 14px;
}

section::before, section::after{
	content: "";
	display: table;
	clear: both;
}

@media (max-width: 858px){
	.ytb, .cld2{
		margin-right: 5px;
		margin-left: 5px;
	}
}

/* FOOTER*/

div.main-content{
	background: #004eff;
	color: white;
	display: flex;
}

footer{
	bottom: 0px;
	width: 100%;
}

.main-content .box{
	flex-basis: 50%;
}

.box h2{
	font-size: 18px;
	font-weight: 600px;
	text-transform: uppercase;
}

.box .content{
	margin: 20px 0 0 0;
	position: relative;
}
.box .content:after{
	position: absolute;
	content: "";
	width: 15%;
	height: 2px;
}

.box .content:before{
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	top: -10px;
}

.left .content .social{
	margin: 20px 0 0 0;
}

.left .content p{
	font-size: 14px;
}

.left .content .social a{
	padding: 0 2px;
}

.left .content .social a span{
	width: 45px;
	height: 45px;
	text-align: center;
	color: white;
	line-height: 45px;
	border-radius: 50%;
	font-size: 18px;
	transition: .5s;
}

.left .content .social a span:hover{
	color: #004eff;
	background: white;
}
.left .content p{
	text-align: justify;
}

.center .email{
	margin: 20px 0 0 0;
}

.center .email a{
	padding: 0 2px;
}


.center .email a span{
	background: #004eff;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	color: white;
}

.center .email a span:hover{
	background: white;
	color: #004eff;
	transition: .5s;
}

.center .Numero{
	margin: 10px 0;
}

.center .Numero a{
	padding: 0 2px;
}

.center .Numero a span{
	background: #004eff;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	color: white;
	cursor: pointer;
}

.center .Numero a span:hover{
	background: white;
	color: #004eff;
	transition: .5s;
}

.center .text{
	font-size: 17px;
	font-weight: 500;
	padding-left: 10px;
}

.right .msg{
	margin-top: 10px;
}

.right form input, .right form textarea{
	width: 100%;
	font-size: 17px;
	padding-left: 10px;
	border: 1px solid;
	outline: none;
}

.right form input{
	height: 35px;
}

.right form .text{
	font-size: 17px;
	margin-bottom: 2px;
	color: black;
}

.right form .btn{
	margin-top: 10px;
}

.right form .btn button{
	height: 40px;
	width: 100%;
	background: white;
	font-size: 17px;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	border: none;
	color: #004eff;
	transition: .5s;
}

.right form .btn button:hover{
	background: #004eff;
	color: white;
}

.bottom .center{
	padding: 5px;
	font-size: 15px;
	background: #004eff;
	color: white;
	text-align: center;
}

.bottom .center span{
	color: white;
}
.bottom .center a{
	color: white;
	text-decoration: none;
}
.bottom .center a:hover{
	text-decoration: underline;
}

@media (max-width:  850px){
	footer{
       background: black;
	}
}

/* FIM DO FOOTER */

